<!-- Desktop Nav -->
<div class="flex flex-row items-center p-4">
  <p class="mr-5">The Marlborough Playhouse</p>
  <ul class="flex flex-row items-center justify-content-between">
    <li class="mr-4">
      <a routerLink="/home">Home</a>
    </li>
    <li class="mr-4">
      <a routerLink="/about">About</a>
    </li>
    <li class="mr-4">
      <a routerLink="/contact">Contact</a>
    </li>
    <li class="mr-4">
      <a routerLink="/booking">Booking</a>
    </li>
    <li class="mr-4">
      <a routerLink="/private-hire">Private Hire</a>
    </li>
  </ul>
</div>

<!-- Mobile Nav -->
