<div class="flex flex-col items-center justify-center align-center h-screen">
  <div>
    <img
      src="assets/logos/playhouse-logo.png"
      alt="The Marlborough Playhouse Logo"
      class="logo"
    />
  </div>
  <div class="text-center mt-4">
    <p>
      We’re working super hard to have The Marlborough Playhouse ready for our
      grand opening on Thursday the 98th of November.
    </p>
    <p>
      To stay up to date and be the first to know when sessions are available to
      book for your little ones to come and play, while you enjoy a coffee.
    </p>
  </div>
  <div class="text-center mt-4">
    <p>Follow us on Instagram</p>
    <p>&#64;themarlboroughplayhouse</p>
  </div>
</div>
